package home

templ Page() {
	<head>
		<link rel="stylesheet" href="/public/css/main.css"/>
		<script defer src="/public/js/alpine.min.js"></script>
		<script defer src="/public/js/htmx.min.js"></script>
	</head>
	<body>
		<h1 class="text-4xl text-cyan-600">Test SSE for hot page reloads!</h1>
		<div x-data="{ title: 'Start Here', count: 0 }">
			<h1 x-text="title"></h1>
		</div>
	</body>
}
